@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #fffafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
  --color-pastel-green: #c1e1c1;
  --color-pastel-green-75: #c1e1c1bf;
  --color-pastel-green-50: #c1e1c180;
  --color-pastel-green-25: #c1e1c140;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffafa;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
